doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 𝌇 - On The Scene 
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='./css/material.blue_grey-amber.min.css')
    script(defer='', src='./js/material.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBm9NaHvarDb0EMmdb6fQ029WULWzk_XxI')
  body
    #app  
    script(type='text/javascript', src='bundle.js')

