//Imports
@import './variables/_variables.sass'

//Component Styles
.mdl-layout__header
    background-color: $base-prime


.mdl-layout__drawer
    background:
        color: transparentize($accent-dark, .1) 


    .mdl-layout-title
        color: lighten($base-prime, .2)

    .mdl-navigation        
        .mdl-navigation__link
            text-decoration: none
            color: white
            font-size: 1.2rem
            &:hover
                color: lighten($action-info, .3)
                text-shadow: 5px 8px 5px $action-info