@import 'variables/_variables.sass'

.sceneComponent
    width: 100%
    overflow: scroll

    .sceneHero
        height: 300px
        width: 100%
        border-bottom: 2px inset $accent-prime
            
        .mdl-button--mini-fab
            position: relative
            left: -45%
            top: 4px
            background: 
                color: $action-no
            i.material-icons
                position: relative
                left: 35%
                top: 50%
                color: white
                font-size: 2.5rem
    h3.sceneName
        color: $accent-dark
        text-decoration: underline
        margin-top: 30px
        text-align: center
    p.area
        text-decoration: dashed
        font:
            size: 2rem
        color: $accent-darker
        text-align: center



    