@import 'variables/_variables.sass'

.sceneComponent
    width: 100%

    .sceneHero
        height: 300px
        width: 100%
            
        .mdl-button--mini-fab
            position: relative
            left: -45%
            top: 4px
            background: 
                color: $action-no
            i.material-icons
                color: white
                font-size: 2.5rem
                left: 35%
                position: relative
                top: 50%

    h3.sceneName
        color: $accent-dark
        margin-top: 30px
        text-align: center
        text-decoration: underline
    p.area
        color: $accent-darker
        font:
            size: 2rem
        text-align: center
        text-decoration: dashed